<div class="container-fluid">
	
	<div class="row">
		
			<div class="col-md-6 search-input">
				<div class="input-group form-group-no-border">
					<input type="text" class="form-control" placeholder="Buscar ">
					<span class="input-group-addon">
						<i class="now-ui-icons ui-1_zoom-bold"></i>
					</span>
				</div>
			</div>
			
			<div class="col-md-6">
				<ul class="nav nav-pills nav-pills-primary pull-right" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#link" role="tablist">
							<i class="fa fa-plus"></i>
						</a>
					</li>
				</ul>
			</div>			
	</div>

	<div class="row">
		<div class="card">			
			<div class="card-body">
				<app-order-list></app-order-list>
			</div>
		</div>
	</div>	
</div>